.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1020; 
    display: none; 
}

.blur {
    filter: blur(5px); 
    pointer-events: none; 
}

.custom-badge {
    top: -5px;
}
